<% policy_scope(@comments).each do |com| %>
  <div class="comment">
    <%= com.content %>
    <div class="byline">By <span class="author"><%= com.author %></span></div>
    <ul class="button-group">
    <% if policy(com).publish? && !com.approved %>
      <li><%= link_to "Approve", send("#{com.commentable_type.downcase}_comment_path", @commentable, com, :comment => {approved: true}), method: :put, :class => 'tiny button' %></li>
    <% end %>
    <% if policy(com).delete? %>
      <li><%= link_to 'Destroy', [@commentable, com], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button' %></li>
    <% end %>
    </ul>
  </div>
<% end %>
