<h1>Welcome to Sean Sehr's Portfolio</h1>
<div class="medium-8 columns">
  <p>Some stuff Sean has done:</p>
  <ul>
    <li>Cool stuff</li>
    <li>Other Cool stuff</li>
    <li>More Cool stuff</li>
  <ul>
</div>
<div class="medium-4 columns">
  <h2>About Me</h2>
  <p>Some cool stuff about me</p>
</div>
